CareerEventWsdlForRuby/src/main/resources/META-INF/wsdl/CareerEventService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://careerevent.ws.otpp.com/" name="CareerEvent" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cews="http://careerevent.ws.otpp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema version="1.0" targetNamespace="http://careerevent.ws.otpp.com/" xmlns:cews="http://careerevent.ws.otpp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- ******************************************************************************************** 
       Section 1: TYPES FOR WS OBJECTS
     ********************************************************************************************  -->

  <xs:complexType name="epw">
    <xs:sequence>
      <xs:element name="employerIrn" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
      <xs:element name="profile" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="workCode" nillable="true" type="xs:int" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="attribute">
    <xs:sequence>
      <xs:element name="key" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="numericValue" type="xs:decimal" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="textValue" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="eventChannel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TIM"/>
      <xs:enumeration value="BST"/>
      <xs:enumeration value="MBW"/>
      <xs:enumeration value="SMS"/>
      <xs:enumeration value="BCH"/>
      <xs:enumeration value="CMP"/>
      <xs:enumeration value="FIL"/>
      <xs:enumeration value="MBR"/>
      <xs:enumeration value="PRE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventCustomer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMPLOYER"/>
      <xs:enumeration value="CLIENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventOwner">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMPLOYER"/>
      <xs:enumeration value="OTPP"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="BLANK"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMPLOYER"/>
      <xs:enumeration value="OTPP"/>
      <xs:enumeration value="MEMBER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="triStateBoolean">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="TRUE"/>
      <xs:enumeration value="FALSE"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="abstractEvent" abstract="true">
    <xs:sequence>
      <xs:element name="channel" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="customerType" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="endDate" type="xs:date" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="entityIrn" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="epw" type="cews:epw" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eventCode" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eventId" type="xs:int"/>
      <xs:element name="issue" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eventAttributes" type="cews:attribute" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="memberIrn" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="owner" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="reasonCode" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="sickDays" type="xs:decimal" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="source" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="startDate" type="xs:date" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="status" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="absenceEvent">
    <xs:complexContent>
      <xs:extension base="cews:abstractEvent">
        <xs:sequence>
          <xs:element name="expiredForBuyback" type="xs:boolean"/>
          <xs:element name="linkedPurchaseId" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


<!-- ******************************************************************************************** 
       Section 2: TYPES FOR WEB SERVICE CALLS
     ********************************************************************************************  -->


  <xs:complexType name="getVersion">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAbsences">
    <xs:sequence>
      <xs:element name="memberIrn" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="epw" type="cews:epw" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="startDate" type="xs:date" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="endDate" type="xs:date" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xs:element name="schoolYear" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAbsencesResponse">
    <xs:sequence>
      <xs:element name="return" type="cews:absenceEvent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="getVersion" type="cews:getVersion"/>

  <xs:element name="getVersionResponse" type="cews:getVersionResponse"/>

  <xs:element name="getAbsences" type="cews:getAbsences"/>

  <xs:element name="getAbsencesResponse" type="cews:getAbsencesResponse"/>

<!-- ******************************************************************************************** 
         Section 3: WSDL MESSAGES
     ********************************************************************************************  -->

</xs:schema>
  </types>
  <message name="getVersion">
    <part name="parameters" element="cews:getVersion"/>
  </message>
  <message name="getVersionResponse">
    <part name="parameters" element="cews:getVersionResponse"/>
  </message>
  <message name="getAbsences">
    <part name="parameters" element="cews:getAbsences"/>
  </message>
  <message name="getAbsencesResponse">
    <part name="parameters" element="cews:getAbsencesResponse"/>
  </message>

<!-- ******************************************************************************************** 
     Section 4:  Port Type - WSDL OPERATIONS
     ********************************************************************************************  -->


  <portType name="CareerEventService">
    <operation name="getVersion">
      <input message="cews:getVersion"/>
      <output message="cews:getVersionResponse"/>
    </operation>
    <operation name="getAbsences">
      <input message="cews:getAbsences"/>
      <output message="cews:getAbsencesResponse"/>
    </operation>
  </portType>
  
<!-- ******************************************************************************************** 
     Section 5:  Binding - WSDL OPERATIONS
     ********************************************************************************************  -->
  
  
  <binding name="CareerEventServicePortBinding" type="cews:CareerEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAbsences">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
<!-- ******************************************************************************************** 
     Section 6:  Service Definition
     ********************************************************************************************  -->
  
  
  <service name="CareerEvent">
    <port name="CareerEventWebService" binding="cews:CareerEventServicePortBinding">
      <soap:address location="http://localhost:9085/CareerEventWS/CareerEvent"/>
    </port>
  </service>
</definitions>

