CareerEventWSForRuby/WebContent/wsdl/CareerEventWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cews="http://careerevent.ws.otpp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CareerEvent" targetNamespace="http://careerevent.ws.otpp.com/">
  <types>
    <xs:schema targetNamespace="http://careerevent.ws.otpp.com/" version="1.0">

<!-- ******************************************************************************************** 
       Section 1: TYPES FOR WS OBJECTS
     ********************************************************************************************  -->

  <xs:complexType name="epw">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="employerIrn" nillable="false" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="profile" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="workCode" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="attribute">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="key" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="numericValue" nillable="true" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="1" name="textValue" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="eventChannel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TIM"/>
      <xs:enumeration value="BST"/>
      <xs:enumeration value="MBW"/>
      <xs:enumeration value="SMS"/>
      <xs:enumeration value="BCH"/>
      <xs:enumeration value="CMP"/>
      <xs:enumeration value="FIL"/>
      <xs:enumeration value="MBR"/>
      <xs:enumeration value="PRE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventCustomer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMPLOYER"/>
      <xs:enumeration value="CLIENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventOwner">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMPLOYER"/>
      <xs:enumeration value="OTPP"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="BLANK"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMPLOYER"/>
      <xs:enumeration value="OTPP"/>
      <xs:enumeration value="MEMBER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="triStateBoolean">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="TRUE"/>
      <xs:enumeration value="FALSE"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType abstract="true" name="abstractEvent">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="channel" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="customerType" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="endDate" nillable="true" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="1" name="entityIrn" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="epw" nillable="true" type="cews:epw"/>
      <xs:element maxOccurs="1" minOccurs="1" name="eventCode" nillable="true" type="xs:string"/>
      <xs:element name="eventId" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="1" name="issue" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eventAttributes" nillable="false" type="cews:attribute"/>
      <xs:element maxOccurs="1" minOccurs="1" name="memberIrn" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="owner" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="reasonCode" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="sickDays" nillable="true" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="1" name="source" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="startDate" nillable="true" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="absenceEvent">
    <xs:complexContent>
      <xs:extension base="cews:abstractEvent">
        <xs:sequence>
          <xs:element name="expiredForBuyback" type="xs:boolean"/>
          <xs:element name="linkedPurchaseId" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


<!-- ******************************************************************************************** 
       Section 2: TYPES FOR WEB SERVICE CALLS
     ********************************************************************************************  -->


  <xs:complexType name="getVersion">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAbsences">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="memberIrn" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="epw" nillable="true" type="cews:epw"/>
      <xs:element maxOccurs="1" minOccurs="1" name="startDate" nillable="true" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="1" name="endDate" nillable="true" type="xs:date"/>
      <xs:element name="schoolYear" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAbsencesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="cews:absenceEvent"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="getVersion" type="cews:getVersion"/>

  <xs:element name="getVersionResponse" type="cews:getVersionResponse"/>

  <xs:element name="getAbsences" type="cews:getAbsences"/>

  <xs:element name="getAbsencesResponse" type="cews:getAbsencesResponse"/>

<!-- ******************************************************************************************** 
         Section 3: WSDL MESSAGES
     ********************************************************************************************  -->

</xs:schema>
  </types>
  <message name="getVersion">
    <part element="cews:getVersion" name="parameters"/>
  </message>
  <message name="getVersionResponse">
    <part element="cews:getVersionResponse" name="parameters"/>
  </message>
  <message name="getAbsences">
    <part element="cews:getAbsences" name="parameters"/>
  </message>
  <message name="getAbsencesResponse">
    <part element="cews:getAbsencesResponse" name="parameters"/>
  </message>

<!-- ******************************************************************************************** 
     Section 4:  Port Type - WSDL OPERATIONS
     ********************************************************************************************  -->


  <portType name="CareerEventService">
    <operation name="getVersion">
      <input message="cews:getVersion"/>
      <output message="cews:getVersionResponse"/>
    </operation>
    <operation name="getAbsences">
      <input message="cews:getAbsences"/>
      <output message="cews:getAbsencesResponse"/>
    </operation>
  </portType>
  
<!-- ******************************************************************************************** 
     Section 5:  Binding - WSDL OPERATIONS
     ********************************************************************************************  -->
  
  
  <binding name="CareerEventServicePortBinding" type="cews:CareerEventService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAbsences">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
<!-- ******************************************************************************************** 
     Section 6:  Service Definition
     ********************************************************************************************  -->
  
  
  <service name="CareerEvent">
    <port binding="cews:CareerEventServicePortBinding" name="CareerEventWebService">
      <soap:address location="http://tempuri.org/CareerEventWSForRuby/services/CareerEventWebService"/>
    </port>
  </service>
</definitions>
